
@font-face {
    font-family: 'helveticaregular';
    src: url('../fonts/helvetica-webfont.woff2') format('woff2'),
    url('../fonts/helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica-bold-webfont.woff2') format('woff2'),
    url('../fonts/helvetica-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Acumin Pro'), url('../fonts/Acumin-RPro.woff') format('woff');
}


@font-face {
    font-family: 'Acumin Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Acumin Pro Bold'), url('../fonts/Acumin-BdPro.woff') format('woff');
}